<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Chenhao's Stock Price Subscription</title>
    <style type="text/css">
        body {
            background-color: #dce3ed;
            margin-left: 20px;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Log in Your Account</h1>
    <form method="POST" class="form-group">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Log in</button>
        <p><a href="mailto:frank.gong.1006@hotmail.com">Forgot password?</a></p>
        <p><a href="/register">Register for a new account</a></p>
    </form>
</body>
</html>
