<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Chenhao's Stock Price Subscription</title>
    <style type="text/css">
        body {
            background-color: #dce3ed;
            margin-left: 20px;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Create Your Account</h1>
    <form method="POST" class="form-group">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ register_form|crispy }}
        <button type="submit">Register</button>
    </form>
</body>
</html>


